DJANGO_SECRET_KEY=change-me-to-a-real-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_NAME=partum_inventory
DB_USER=partum_user
DB_PASSWORD=partum_pass
DB_HOST=db
DB_PORT=5432
