{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br><br>
    <div class="row text-center">
        <!--add customes div -->
        <div class="col-lg-4 col-md-6">
            <a href="#">
                <div class="panel panel_bg_color" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-user fa-4x" style="color:#fff"></i>
                            </div>

                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">ADD CUSTOMER</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add ledger div -->
       <div class="col-lg-4 col-md-6 ">
            <a href="#">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-tasks fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">ADD LEDGER</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add product div -->
       <div class="col-lg-4 col-md-6 ">
            <a href="#">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-shopping-cart fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">ADD PRODUCT</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add expense div -->
        <div class="col-lg-4 col-md-6">
            <a href="#">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-money fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">EXPENSE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add sales div -->
        <div class="col-lg-4 col-md-6 ">
            <a href="#">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-dollar fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">SALES</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add employees div -->
        <div class="col-lg-4 col-md-6 ">
            <a href="#">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-users fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt" >ADD EMPLOYEE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add FEEDBACK div -->
        <div class="col-lg-4 col-md-6 ">
            <a href="#">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-folder-open fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">FEEDBACK</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
<!--col-div end here--->
    </div>
</div>

{% endblock %}