{% extends 'base.html' %}
{% block submenu_add_product %}active{% endblock %}
{% block menu_product %}active{% endblock %}
{% block content %}
<div class="col-md-6">
    <br>
    <a href="{% url 'product:stock_items_list' %}"><button type="button" id="back-product" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Product List</button></a>
    <br><br><br>
    <div class="content-panel">
        <h3 class="text-center">{{ request.user.retailer_user.retailer.name }} Product</h3>
        <span class="item_list_error text-center" style="color:red; display:none">item is already exist</span>
        <div class="panel-body">
            <form class="form-horizontal add-product-form" action="{% url 'product:add_product' retailer_id=request.user.retailer_user.retailer.id %}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        <label><strong>Product Name</strong></label>
                        <span class="product-name-error" style="color:red; display:none">The field is required</span>
                        <input type="text" class="form-control product_name" name="name"   placeholder="Product Name"><br>
                        <label><strong>Brand Name</strong></label>
                        <span class="brand-name-error" style="color:red; display:none">The field is required</span>
                        <input type="text" class="form-control brand_name" name="brand_name" placeholder="Brand Name"><br>
                        <label><strong>Unit Type</strong></label>
                        <input type="text" class="form-control unit_type" name="unit_type" placeholder="Unit Type" list="unit-list">
                        <datalist id="unit-list">
                            <option value="Kilogram"></option>
                            <option value="Gram"></option>
                            <option value="Litre"></option>
                            <option value="Quantity"></option>
                        </datalist>
                        <br>
                        <label><strong>Bar Code</strong></label>
                        <input type="number" class="form-control bar_code" name="bar_code" placeholder="Bar Code">
                        <span style="color: #68dff0">For example: 1234567899876 (13 digit number)</span><br><br>
                        <input type="hidden" name="retailer" value="{{ request.user.retailer_user.retailer.id }}">
                        <button type="button" id="save" class="btn btn-primary product-submit-btn" style="float: right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Save Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--scrpit for field validation-->

<script>

    $ (document).ready(function(){
        $ (".product-submit-btn").on('click', function(){
            $(this).addClass('disabled');
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...');
            var error= false;

            if ($('.product_name').val() == ""){
                $(".product-name-error").show();
                error = true;
            }
            else {
                $(".product-name-error").hide();
            }

            if ($('.brand_name').val() == ""){
                $(".brand-name-error").show();
                error = true;
            }
            else {
                $(".brand-name-error").hide();

            }

            if ($('.consumer_price').val() == ""){
                $(".consumer-name-error").show();
                error = true;
            }
            else {
                $(".consumer-name-error").hide();
            }
            if ($('.available_item').val() == ""){
                $(".available-name-error").show();
                error = true;
            }
            else {
                $(".available-name-error").hide();

            }

            if (error == true) {
                return;
            } else {
                $.get('{% url 'retailer:retailer_products' retailer_id=request.user.retailer_user.retailer.id %}', function(data, status){
                    $.each(data.retailer_products, function(index, value){
                        if ($('.product_name').val() == value.product_name && $('.brand_name').val() == value.brand_name && {{ request.user.retailer_user.retailer.id }} == value.retailer){
                            $('.item_list_error').show();
                            error = true;
                            return false;
                        }
                    });
                    if (error == false) {
                        $('.add-product-form').submit();
                    }
                      else
                 {
                     $(this).removeClass('disabled');
                     $(this).html('Add product');
                     return;
                 }

                });

            }
        });

        $('.product_name').keyup(function(){
            $('.product-name-error').hide();
        });

        $('.brand_name').keyup(function(){
            $('.brand-name-error').hide();
        });

        function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }

        $('.consumer_price').keyup(function(){
            $('.consumer-name-error').hide()
            checkDec(this);
        });
        function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }

        $('.available_item').keyup(function(){
            $('.available-name-error').hide()
            checkDec(this);
        });
        function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }

    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$('#back-product').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

$('.form-control').click (function () {
    $('.list-error').hide();
    checkDec(this);

});
    </script>
<script>
$('#save').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 1000);
});

$('.form-control').click (function () {
    $('.list-error').hide();
    checkDec(this);

});
    </script>

{% endblock %}
