{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_list_items %}active{% endblock %}
{% block content %}
<div class="col-md-6">
    <br>
    <a href="{% url 'product:item_details' pk=product.id %}"><button type="button" id="back-customer" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Product Item List</button></a>
    <br><br><br>
    <div class="content-panel">
        <h3 class="text-center">{{ request.user.retailer_user.retailer.name }} | Product ({{ product.name }})</h3>
        <div class="panel-body">
            <form class="form-horizontal product_item_form" action="{% url 'product:add_product_items' product_id=product.id %}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        <label><strong>Consumer Price</strong></label>
                        <span class="consumer-error" style="color:red; display:none">This field is required..</span>
                        <input type="text" class="form-control consumer_price" name="consumer_price" onkeyup="checkDec(this);" placeholder="Consumer Price"><br>
                        <label><strong>Quantity Item</strong></label>
                        <span class="item-error" style="color:red; display:none">This field is required..</span>
                        <input type="text"  class="form-control Quantity_item"  name="available_item"  onkeyup="checkDec(this);" placeholder="Item Quantity"><br>
                        <input type="hidden" name="purchased_item" value="0">
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <input type="hidden" name="retail_price" value="0">
                        <button type="button" class="btn btn-primary product-sub-btn" style="float: right">Save Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".product-sub-btn").on ('click', function(){
            var error= false;
            if ($('.consumer_price').val() == ""){
                $('.consumer-error').show();
                error = true;
            }
            else {
                $('.consumer-error').hide();
            }
            if ($('.Quantity_item').val () == ""){
                $('.item-error').show();
                error = true;
            }
            else {
                $('.item-error').hide();
            }
            if (error == true) {

                return;
            }
            else
            {
                $('.product_item_form').submit();

            }
        });
    });

    $('.consumer_price').keyup (function(){
        $('.consumer-error').hide();
    });

    function checkDec(el){
        var ex = /^[0-9]+\.?[0-9]*$/;
        if(ex.test(el.value)==false){
            el.value = el.value.substring(0,el.value.length - 1);
        }
    }

    $('.Quantity_item').keyup (function(){
        $('.item-error').hide();
    });

    function checkDec(el){
        var ex = /^[0-9]+\.?[0-9]*$/;
        if(ex.test(el.value)==false){
            el.value = el.value.substring(0,el.value.length - 1);
        }
    }
</script>
<script>
$('#back-customer').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script>
{% endblock %}
