{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_list_items %}active{% endblock %}
{% block content %}
    <div class="col-md-12">
            <br>
            <a href="{% url 'product:add_product_items' product_id=product.id %}"><button type="button" class="btn btn-primary" style="float: left">Add New Items</button></a>
            <br><br><br>
            <div class="content-panel table-responsive">
                <table class="table table-striped table-advance table-hover item-table">
                    <h2 class="text-center">Product Item List</h2>
                    <div class="input-group custom-search-form col-md-4" style="left: 5px">
                        <input type="text" class="form-control search-item" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <hr>
                    <thead>
                    <tr>
                        <th><i class="fa fa-bullhorn"></i> Item</th>
                        <th><i class="fa fa-question-circle"></i> Brand Name</th>
                        <th><i class=" fa fa-try"></i> Consumer Price (pkr)</th>
                        <th><i class=" fa fa-rebel"></i> Remaining Items</th>
                        <th><i class=" fa fa-shield"></i> Purchased Items</th>
                        <th><i class=" fa fa-calendar"></i> Date</th>
                    </tr>
                    </thead>
                    <tbody class="item-table-body">
                    {% for detail in items_details %}
                        <tr>
                            <td><a href="#">{{ detail.product.name}}</a></td>
                            <td class="#">{{ detail.product.brand_name }}</td>
                            <td>{{ detail.consumer_price|floatformat:-2 }}</td>
                            <td>{{ detail.available_item }}</td>
                            <td>{{ detail.purchased_item }}</td>
                            <td>{{ detail.created_at|date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function(){
              $(".search-item").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".item-table-body tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });



        </script>
{% endblock %}