{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_purchased_items %}active{% endblock %}

{% block content %}
    <div class="col-md-12">
        <br>
        <div class="content-panel table-responsive">
            <table class="table table-striped table-advance table-hover purchased-table">
                <h2 class="text-center">Purchased Items</h2>
                <div class="input-group custom-search-form col-md-4" style="left: 5px">
                    <input type="text" class="form-control search-purchased" placeholder="Search...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
                <hr>
                <thead>
                <tr>
                    <th><i class=""></i> Item Name</th>
                    <th><i class="fa fa-bookmark"></i> Quantity</th>
                    <th><i class="fa fa-bookmark"></i> Price</th>
                    <th><i class=" fa fa-edit"></i> Discount %</th>
                    <th><i class=" fa fa-bookmark"></i> Date</th>
                </tr>
                </thead>
                <tbody class="purchased-table-body">
                {% for purchased_product in purchased_products %}
                    <tr>
                        <td><a href="#">{{ purchased_product.product.name}}</a></td>
                        <td>{{ purchased_product.quantity }}</td>
                        <td>{{ purchased_product.price }}</td>
                        <td>{{ purchased_product.discount_percentage }}</td>
                        <td>{{ purchased_product.created_at|date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".search-purchased").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".purchased-table-body tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
