{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_purchased_items %}active{% endblock %}

{% block content %}
    <div class="col-md-12">
        <br>
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover purchased-table">
                <h2 class="text-center">Purchased Items</h2>
                <div class="input-group custom-search-form col-md-4" style="left: 5px">
                    <input type="text" class="form-control search-purchased" placeholder="Search...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
                <hr>
                <thead>
                <tr>
                    <th><i class="fa fa-bullhorn"></i> Item Name</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Brand Name</th>
                    <th><i class="fa fa-bookmark"></i> Purchased Amount</th>
                    <th><i class=" fa fa-edit"></i> Discount</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="purchased-table-body">
                {% for purchased_product in purchased_products %}
                    <tr>
                        <td><a href="#">{{ purchased_product.product.name}}</a></td>
                        <td class="#">{{ purchased_product.product.brand_name }}</td>
                        <td>5003</td>
                        <td>89245</td>
                        <td>
                            <a href="#"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></a>
                            <a href="#"><button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button></a>
                            <a href="#"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".search-purchased").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".purchased-table-body tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
