{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_list_items %}active{% endblock %}
{% block content %}
    <div class="col-md-12">
            <br>
            <a href="{% url 'product:add_product' retailer_id=request.user.retailer_user.retailer.id %}"><button type="button" id="add-product" class="btn btn-primary" style="float: left" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Add Product </button></a>
            <br><br><br>
            <div class="content-panel table-responsive">
                <table class="table table-striped table-advance table-hover item-table">
                    <h2 class="text-center">Stock List</h2>
                    <div class="input-group custom-search-form col-md-4" style="left: 5px">
                        <input type="text" class="form-control search-product" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <hr>
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Brand Name</th>
                        <th>Unit Type</th>
                        <th>Total Items</th>
                        <th>Available Items</th>
                        <th>Purchased Items</th>
                        <th>Bar Code</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="product-table-body">
                    {% for item in products %}
                        <tr>
                            <td><a href="{% url 'product:item_details' pk=item.id %}">{{ item.name}}</a></td>
                            <td class="#">{{ item.brand_name }}</td>
                            <td class="#">{{ item.unit_type }}</td>
                            <td>{{ item.total_items|floatformat:-2 }}</td>
                            <td>{{ item.product_available_items|floatformat:-2 }}</td>
                            <td>{{ item.product_purchased_items|floatformat:-2 }}</td>
                            <td>{{ item.bar_code }}</td>
                            <td>
                                <a href="{% url 'product:stockin_list' product_id=item.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></a>
                                <a href="{% url 'product:stockout_list' product_id=item.id %}"><button class="btn btn-danger btn-xs" title="Stock Out"><i class="fa fa-minus"></i></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script>
        $(document).ready(function(){
              $(".search-product").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".product-table-body tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
    </script>


{% endblock %}