{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
        <br>
        <a href="{% url 'product:stock_out_items' product_id=product.id %}"><button type="button" id="stock-out" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Stock Out</button></a>
        <a href="{% url 'product:stock_items_list' %}"><button type="button" id="add-product" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Products List</button></a>
        <br><br><br>
        <div class="content-panel table-responsive">
            <h1 class="text-center">{{ product.name|title }} <small>{{ product.brand_name|title }}</small> | Stock Out</h1><br>
            <table class="table table-striped table-advance table-hover item-table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Buying Price</th>
                    <th class="text-center">Selling Price</th>
                    <th class="text-center">Date</th>
                </tr>
                </thead>
                <tbody class="product-table-body text-center">
                {% for stockout in object_list %}
                    <tr>
                        <td>{{ stockout.stock_out_quantity|floatformat:-2 }} </td>
                        <td class="#">{{ stockout.selling_price|floatformat:-2 }}</td>
                        <td class="#">{{ stockout.buying_price|floatformat:-2 }}</td>
                        <td>{{ stockout.dated}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if paginator.page_range|length > 1 %}
                <div class="text-center">
                    <ul class="pagination">
                        <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'product:stockout_list' product_id=product.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                        <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'product:stockout_list' product_id=product.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
<script>
$('#stock-out').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

$('#add-product').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script>
{% endblock %}
