{% extends 'base.html' %}
{% block menu_sales %}active{% endblock %}
{% block submenu_list_invoice %}active{% endblock %}

{% block content %}
    <style>
        .item-row th {
            background: #eee;
        }
    </style>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <br>
        <button type="button" class="btn btn-primary print-invoice-btn" onclick="PrintInvoice('print-invoice')" style="float: left">Print Invoice</button>
        <br><br><br>
        <div class="content-panel print-invoice" id="print-invoice" style="padding: 5px">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="text-center">
                        <h1><strong>{{ request.user.retailer_user.retailer.name }}</strong></h1>
                        {% if request.user.user_profile.address %}<span><strong>{{ request.user.user_profile.address }}</strong></span><br>{% endif %}
                        {% if request.user.user_profile.phone_no %}<small><strong>Phone No:</strong> {{ request.user.user_profile.phone_no }} </small>{% endif %} {% if request.user.user_profile.mobile_no %}<small><strong>Mobile No: </strong>{{ request.user.user_profile.mobile_no }} </small>{% endif %}
                        <h3>Invoice</h3>
                    </div>
                    <hr>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top: 15px">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <label><strong>Customer Name:</strong></label> <span style="margin: 15px;">{{ invoice.customer.customer_name }}</span><br>
                            <label><strong>Customer Phone:</strong></label> <span style="margin: 15px;">{{ invoice.customer.customer_phone }}</span><br>
                            {% if invoice.customer.shop %}
                                <label><strong>Shop Name:</strong></label> <span style="margin: 15px;">{{ invoice.customer.shop }}</span><br>
                            {% endif %}
                            {% if invoice.customer.address %}
                                <label><strong>Address:</strong></label> <span style="margin: 15px;">{{ invoice.customer.address }}</span><br>
                            {% endif %}
                            <label><strong>Billed To:</strong></label><span style="margin: 15px;">{{ invoice.created_at.date }}</span><br>
                            <br>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <span style="float: right; font-size: large">Receipt No. <span style="color:red">{{ invoice.receipt_no }}</span></span>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="item-row">
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in  invoice.purchased_items.all %}
                                <tr id="hiderow">
                                    <td>
                                        {{ item.product.name}}
                                    </td>
                                    <td>
                                        {{ item.quantity|floatformat:-2}}
                                    </td>
                                    <td>
                                        {{ item.purchase_amount|floatformat:-2 }}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for extra_item in  invoice.extra_items.all %}
                                <tr id="hiderow">
                                    <td>
                                        {{ extra_item.item_name}}
                                    </td>

                                    <td>
                                        {{ extra_item.quantity|floatformat:-2}}
                                    </td>
                                    <td>
                                        {{ extra_item.total|floatformat:-2 }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr><td colspan="4" style="color:white">Need to change this properly</td></tr>
                            <tr style="border-top: 3px solid">
                                <td></td>
                                <td class="text-right"><strong>Sub Total</strong></td>
                                <td><span id="subtotal">{{ invoice.sub_total|floatformat:-2 }}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Total Quantity: </strong><span id="totalQty" style="color: red; font-weight: bold">{{ invoice.total_quantity }}</span> Units</td>
                                <td class="text-right"><strong>Discount</strong></td>
                                <td>{{ invoice.discount|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right"><strong>Shipping</strong></td>
                                <td>{{ invoice.shipping|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right"><strong>Grand Total</strong></td>
                                <td><span id="grandTotal" style="color: red;">{{ invoice.grand_total|floatformat:-2 }}</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right"><strong>Received Amount</strong></td>
                                <td><span id="receivedAmount">{{ invoice.paid_amount|floatformat:-2 }}</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right"><strong>Remaining Payment</strong></td>
                                <td><span id="remainingAmount">{{ invoice.remaining_payment|floatformat:-2 }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                </div>
                <div class="col-xs-3 col-md-3">
                </div>
                <div class="col-xs-3 col-md-3">
                </div>
                <div class="col-xs-3 col-md-3" style="text-align: center;">
                    <br><br><br>
                    <hr>
                    <span>Signature</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        function PrintInvoice(divName){
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;
             document.body.innerHTML = printContents;
             window.print();
             document.body.innerHTML = originalContents;
        }
    </script>

{% endblock %}
