{% extends 'base.html' %}
{% block submenu_create_employee %}active{% endblock %}
{% block menu_employee %}active{% endblock %}
{% block content %}
<div class="col-md-6">
    <br>
    <a href="{% url 'expense:expense_list' %}"><button type="button" id="empolyee" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Employee List</button></a>
    <br><br><br>
    <div class="content-panel">
        <h3 class="text-center">{{ request.user.retailer_user.retailer.name }} Add Employee</h3>
        <div class="panel-body">
            <form class="form-horizontal add-ledger-form" action="{% url 'employee:add_new_employee' %}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        <label><strong>Name</strong></label>
                        <span class="name-error" style="color: red; display: none" >this field is requried</span>
                        <input type="text" class="form-control name" name="name" placeholder="Name"><br>
                        <label><strong>Father Name</strong></label>
                        <span class="father_name-error" style="color: red; display: none" >this field is requried</span>
                        <input type="text" class="form-control father_name" name="father_name" placeholder="Father Name"><br>
                        <label><strong>mobile Number</strong></label>
                        <span class="mobile-error" style="color: red; display: none" >this field is requried</span>
                        <input type="text" class="form-control mobile" name="mobile" placeholder="Mobile"><br>
                        <label><strong>Address</strong></label>
                        <textarea class="form-control address" name="address" placeholder="Address"></textarea><br>
                        <label><strong>Date of Joining</strong></label>
                        <input type="text" class="form-control date" name="date_of_joining" placeholder=" Date of joining" onfocus="(this.type='date')" onblur="(this.type='text')"><br>
                        <input type="hidden" name="retailer" value="{{ request.user.retailer_user.retailer.id }}">
                        <button type="button" id="save" class="btn btn-primary ledger-submit-btn" style="float: right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Save Employee</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        $('document').ready(function () {

            $('.ledger-submit-btn').on ('click', function () {
                $(this).addClass('disabled');
                $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...');
                var error = false;

                if ($('.name').val() ==""){
                    $('.name-error').show();
                    error= true;
                }
                else {
                    $('.name-error').hide();
                }
                if ($('.father_name').val() ==""){
                    $('.father_name-error').show();
                    error= true;
                }
                else {
                    $('.father_name-error').hide();
                }
                 if ($('.mobile').val() =="" ) {
                    $('.mobile-error').show();
                    error = true;
                }
                else {
                    $('.mobile-error').hide();
                }
                if (error == true ) {
                    $(this).removeClass('disabled');
                    $(this).html('Save');
                    return;
                }

                if (error == false) {
                    $('.add-ledger-form').submit();
                }
                 else {
                     $(this).removeClass('disabled');
                     $(this).html('Save');
                     return;
                 }
            });

            $('.customer').keyup(function () {
                $('.customer-error').hide();
            });


            $('.customer_phone').keyup(function () {
               $('.customer-phone-error').hide();
               checkDec(this);
            });
            function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }
            $('.amount').keyup(function () {
               $('.amount-error').hide();
                checkDec(this);
            });
            function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }
            $('.description').keyup(function () {
                $('.description-error').hide();
            });
        });

    </script>
<script>

$('#empolyee').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script>

{% endblock %}
