{% extends 'base.html' %}
{% block menu_employee %}active{% endblock %}
{% block content %}
    <br>
    <a href="{% url 'employee:employee_salary' pk=employee.pk %}"><button type="button" class="btn btn-primary">Do Payment</button></a>
    <br><br><br>

    <div class="content-panel">
        <h2 class="text-center">{{ employee.name }} <small>Employee Salary Details</small></h2>
        {% if salaries %}
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                   Employee Salary
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-striped table-advance table-hover ledger-table table-responsive">
                        <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> Amount</th>
                                <th><i class="fa fa-bookmark"></i> Date</th>
                            </tr>
                        </thead>
                        <tbody class="item-table-body">
                            {% for salary in salaries %}
                                <tr>
                                    <td>{{ salary.salary_amount|floatformat:-2}}</td>
                                    <td>{{ salary.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}