{% extends 'base.html' %}
{% block menu_ledger %}active{% endblock %}
{% block submenu_customer_ledger %}active{% endblock %}
{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'ledger:customer_ledger_list'%}"><button type="button" class="btn btn-primary" style="float: left">Back to Ledger List</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">{{ customer.customer_name }} <small>New Ledger</small></h3>
            <div class="panel-body">
                <form class="form-horizontal new_ledger " action="{% url 'ledger:add_ledger' customer_id=customer.id %}" method="post" >
                    <div class="form-group">
                        <div class="col-sm-12">
                            {% csrf_token %}
                            <span class="amount-error" style="color: red; display: none" >This Field is Requried</span>
                            <input type="text" class="form-control amount" name="amount" placeholder="Amount"><br>
                            <span class="description-error" style="color: red; display: none" >This Field is Requried</span>
                            <textarea maxlength="500" rows="4" name="description" class="form-control description"  placeholder ="Description"></textarea> <br>
                            <input type="hidden" name="customer" value="{{ customer.id }}">
                            <input type="hidden" name="retailer" value="{{ request.user.retailer_user.retailer.id }}">
                            <button type="button" class="btn btn-primary ledger-submit-btn" style="float: right">Save Ledger</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('.document').ready(function () {
            $('.ledger-submit-btn').on('click', function () {
                    var error = true;

                if ($('.amount').val() ==""){
                    $('.amount-error').show();
                    error = true;
                }
                else {
                    $('.amount-error').hide();
                }
                if ($('.description').val() == ""){
                    $('.description-error').show();
                    error = true;
                }
                else {
                    $('.description-error').hide();

                }
                if (error == false)
                {

                    $('.new_ledger').submit();

                }
                $('.amount').keyup(function () {
                    $('.amount-error').hide();
                    checkDec(this);
                });
                function checkDec(el){
                    var ex = /^[0-9]+\.?[0-9]*$/;
                    if(ex.test(el.value)==false){
                        el.value = el.value.substring(0,el.value.length - 1);
                    }
                }
                $('.description').keyup(function () {
                    $('.description-error').hide();
                })

            });
        });

    </script>
{% endblock %}