{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {#    <meta name="author" content="Dashboard">#}
    {#    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">#}

    <title>Inventory System | Partum Solutions | Business Software Solution Providers</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lineicons/style.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

    <script src="{% static 'js/chart-master/Chart.js' %}"></script>

    <link href="{% static 'css/profileImage.css' %}" rel="stylesheet" type="text/css"/>

    <script src="{% static 'js/jquery.min.1.7.js'%}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
</head>

<body>

<section id="container" >

    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="{% url 'index' %}" class="logo"><b>Partum Inventory System</b></a>
    </header>

    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                {% if request.user.retailer_user.retailer.logo %}
                    <p class="centered"><a href="{% url 'index' %}"><img src="{{ request.user.retailer_user.retailer.logo.url }}" class="img-circle" width="60"></a></p>
                {% else %}
                    <div id="profileImage"></div>
                  {% endif %}
              	  <h5 class="centered profile_name">{{ request.user.retailer_user.retailer.name|title }}</h5>
                   {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
                  <li class="mt">
                      <a class="{% block menu_dashboard %}{% endblock %}" href="{% url 'index' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  {% endif %}
                  {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_DATA_ENTRY_USER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
                  <li class="sub-menu">
                      <a class="{% block menu_ledger %}{% endblock %}" href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Ledgers</span>
                      </a>
                      <ul class="sub">
                          <li class="{% block submenu_customer_ledger %}{% endblock %}"><a  href="{% url 'ledger:customer_ledger_list' %}">Customer Ledger List</a></li>
                          <li class="{% block submenu_add_new_ledger %}{% endblock %}"><a  href="{% url 'ledger:add_new_ledger' %}">Add Ledger</a></li>

                      </ul>
                  </li>
                  {% endif %}
                  {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_DATA_ENTRY_USER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
                  <li class="sub-menu">
                      <a class="{% block menu_product %}{% endblock %}" href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Products</span>
                      </a>
                      <ul class="sub">
                          <li class="{% block submenu_add_product %}{% endblock %}"><a  href="{% url 'product:add_product' retailer_id=request.user.retailer_user.retailer.id %}">Add Product</a></li>
                          <li class="{% block submenu_list_items %}{% endblock %}"><a  href="{% url 'product:items_list' %}">List Products</a></li>
                          <li class="{% block submenu_purchased_items %}{% endblock %}"><a  href="{% url 'product:purchased_items' %}">Purchased Items</a></li>
                          <li class="{% block submenu_purchased_extraitems %}{% endblock %}"><a  href="{% url 'product:purchased_extra_items' %}">Purchased Extra Items</a></li>
                      </ul>
                  </li>
                  {% endif %}
                  {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
                  <li class="sub-menu">
                      <a class="{% block menu_sales %}{% endblock %}" href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Sales</span>
                      </a>
                      <ul class="sub">
                          <li class="{% block submenu_create_invoice %}{% endblock %}"><a  href="{% url 'sales:create_invoice' %}">Create Invoice</a></li>
                          <li class="{% block submenu_list_invoice %}{% endblock %}"><a  href="{% url 'sales:invoice_list' %}">Invoices</a></li>
                      </ul>
                  </li>
                  {% endif %}
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <section id="main-content">
          <section class="wrapper">
              {% block content %}{% endblock %}
          </section>
      </section>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    {% block scripts %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>

    <script src="{% static 'js/common-scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gritter-conf.js' %}"></script>

    <script src="{% static 'js/sparkline-chart.js' %}"></script>
    <script src="{% static 'js/zabuto_calendar.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

    <script src="{% static 'js/javascript-functions.js' %}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
