{% extends 'base.html' %}
{% block menu_feedback %}active{% endblock %}
{#{% block menu_feedback %}active{% endblock %}#}
{% block content %}
<div class="col-md-6">
    <br><br>
    <div class="content-panel">
        <h3 class="text-center">{{ request.user.retailer_user.retailer.name }} FeedBack</h3>
        <div class="panel-body">
            <form class="form-horizontal add-ledger-form" action="{% url 'create_feedback' %}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        <span class="description-error" style="color: red; display: none" >this field is requried</span>
                        <label><strong>Feedback</strong></label>
                        <textarea class="form-control description" name="description" placeholder="FeedBack" rows="10"></textarea><br>
                        <input type="hidden" name="retailer" value="{{ request.user.retailer_user.retailer.id }}">
                        <button type="button"  id="save" class="btn btn-primary ledger-submit-btn" style="float: right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Done</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        $('document').ready(function () {

            $('.ledger-submit-btn').on ('click', function () {
                var error = false;

                if ($('.description').val() ==""){
                    $('.description-error').show();
                    error= true;
                }
                else {
                    $('.description-error').hide();
                    Swal.fire({
                        type: 'success',
                        title: 'Thank You',
                        text: 'Your feedback is very important for us',
                        showConfirmButton: true,
                    }).then((result) => {
                        $('.add-ledger-form').submit();
                })
                }
                if (error == false) {

                }
            });

            $('.description').keyup(function () {
                $('.description-error').hide();
            });

        });

    </script>


{% endblock %}
