{% extends 'base.html' %}
{% load static %}
{% block menu_dashboard %}active{% endblock %}
{% block content %}

        <div class="row mt">
            <!-- SERVER STATUS PANELS -->
            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn donut-chart">
                    <div class="white-header">
                        <h5>Total Amount</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-database"></i> Rs. 879232</p>
                        </div>
                    </div>
                    <canvas id="serverstatus01" height="120" width="120"></canvas>
                    <script>
                        var doughnutData = [
                            {
                                value: 70,
                                color:"#68dff0"
                            },
                            {
                                value : 30,
                                color : "#fdfdfd"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div><! --/grey-panel -->
            </div>

            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn donut-chart">
                    <div class="white-header">
                        <h5>Total Discounts</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-database"></i> Rs. 14678</p>
                        </div>
                    </div>
                    <canvas id="serverstatus001" height="120" width="120"></canvas>
                    <script>
                        var doughnutData = [
                            {
                                value: 20,
                                color:"#68dff0"
                            },
                            {
                                value : 80,
                                color : "#fdfdfd"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus001").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div><! --/grey-panel -->
            </div>

            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn donut-chart">
                    <div class="white-header">
                        <h5>Profits</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-database"></i> Rs. 75682</p>
                        </div>
                    </div>
                    <canvas id="serverstatus002" height="120" width="120"></canvas>
                    <script>
                        var doughnutData = [
                            {
                                value: 60,
                                color:"#68dff0"
                            },
                            {
                                value : 40,
                                color : "#fdfdfd"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus002").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div><! --/grey-panel -->
            </div>

        </div>

        <div class="row mt">

            <div class="col-md-8 col-sm-8 mb">

                <!--<div id="graph01" style="min-width: 310px; height: 400px; margin: 0 auto "></div>-->
                <div id="graph01" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>

            <div class="col-md-4 col-sm-4 mb">
                <div class="content-panel" style="height:400px; overflow: auto;">

                    <table class="table table-striped table-advance table-hover item-table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> Item Name</th>
                                <th><i class="fa fa-question-circle"></i> Brand Name</th>
                            </tr>
                        </thead>
                        <tbody class="patient-table-body">
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr><tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div><!-- /col-lg-9 END SECTION MIDDLE -->
            </div>
    </div>
</div>

    <div class="row mt">
        <div class="col-md-8 col-sm-8 mb">
        <div id="graph2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-md-4 col-sm-4 mb">
                <div class="content-panel" style="height:400px; overflow: auto;">
                    <table class="table table-striped table-advance table-hover item-table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> Item Name</th>
                                <th><i class="fa fa-question-circle"></i> Brand Name</th>
                            </tr>
                        </thead>
                        <tbody class="patient-table-body">
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div><!-- /col-lg-9 END SECTION MIDDLE -->
            </div>
    </div>

<div class="row mt">
        <div class="col-md-8 col-sm-8 mb">
        <div id="graph3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>

    <div class="col-md-4 col-sm-4 mb">
                <div class="content-panel" style="height:400px; overflow: auto;">
                    <table class="table table-striped table-advance table-hover item-table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> Item Name</th>
                                <th><i class="fa fa-question-circle"></i> Brand Name</th>
                            </tr>
                        </thead>
                        <tbody class="patient-table-body">
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr> <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>January</td>
                                <td>12345</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div><!-- /col-lg-9 END SECTION MIDDLE -->
            </div>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}