{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br><br>
    <div class="row text-center">
<!--        add customes div-->
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'supplier:list_supplier' %}">
                <div class="panel panel_bg_color" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-user fa-4x" style="color:#fff"></i>
                            </div>

                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">Suppliers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
<!--        add ledger div-->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_LEDGER_VIEW or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'ledger:customer_ledger_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-tasks fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">CUSTOMER / LEDGERS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!--add product div -->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_DATA_ENTRY_USER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'product:stock_items_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-shopping-cart fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">PRODUCTS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'expense:expense_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-money fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">EXPENSE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!--add sales div -->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'sales:invoice_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-dollar fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">SALES</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!--add employees div -->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'employee:employee_list' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-users fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt" >EMPLOYEES</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!--add FEEDBACK div -->
        {% if request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_SALESMAN or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_OWNER or request.user.retailer_user.role_type == request.user.retailer_user.ROLE_TYPE_VIEW_ACCOUNT %}
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'create_feedback' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-folder-open fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">FeedBack</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <!--add reports div -->
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'reports' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-th fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">REPORTS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--add logs div -->
        <div class="col-lg-4 col-md-6 ">
            <a href="{% url 'product:daily_stock_logs' %}">
                <div class="panel panel_bg_color">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <i class="fa fa-sign-in fa-4x" style="color:#fff"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <br>
                                <br>
                                <div class="panel_txt">LOGS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
<!--col-div end here--->
    </div>
</div>

{% endblock %}